---
layout: default
title: Home
---


{% include header.html%}
    <section id="about">
        <h2 class="description">About Me</h2>
        <p class="description">Hello! I’m Sree Sai Nandini Gundraju, a Packaged App Development Associate at Accenture with a Bachelor's in Electrical and Electronics Engineering from Sree Vidyanikethan Engineering College.
            <br/><br/>
            I specialize in C, Java, Python, MATLAB, and Arduino UNO, and recently earned the <b>Microsoft Azure Fundamentals Certification</b>, enhancing my cloud computing skills. My passion lies in developing innovative solutions that drive efficiency and effectiveness.
            <br/><br/>
            As a former Student Coordinator for the Indian Society for Technical Education, I honed my leadership and coordination skills. My academic journey includes two projects and a Grade B IUCEE PBL project, showcasing my teamwork and project management abilities.
            <br/><br/>
            I aim to bridge power systems with IT, ensuring seamless communication between components. I thrive on seeing the direct impact of my work and continuously learning new technologies.
            <br/><br/>
            Let’s connect for job opportunities, collaborations, or idea exchanges!</p>
    </section>
{% include footer.html%}
    
