---
layout: default
title: Projects
---
{% include header.html %}
    <section id="projects">
        <h2 class="title">Projects</h2>
        <div class="project">
            <h3>Toys for Autistic Kids</h3>
            <p> 
                <ol>
                <li><b>Duration:</b> March 2020 - July 2020</li>
                <li><b>Technologies Used:</b> Proteus 8 Professional</li>
                <li><b>Team Members:</b> G Shamitha Reddy and J Pushpavathi</li>
                <li><b>Description:</b>
                    This project was part of IUCEE Project Based Learning. 
                    We designed a pillow toy for autistic kids. 
                    The project was presented before the jury and scored a Grade B.</p>
        </div>

        <div class="project">
            <h3>Development of a Solar PV Multipurpose Charger</h3>
            <p> 
                <ol>
                <li><b>Duration:</b> August 2021 - January 2022</li>
                <li><b>Technologies Used:</b> Voltage Booster, Solar Panel, Proteus 8 Professional</li>
                <li><b>Team Members:</b> G Uday Kumar, H Jayashankar, J Pushpavathi, N Vani, and MA Afreed Ali</li>
                <li><b>Description:</b>
                    This project was also part of our curriculum. We developed a multipurpose charger powered by solar PV cell.<br/>
                    Prepared a project report and presentation, and assisted my team members in making the hardware connections.</p>
        </div>

        <div class="project">
            <h3>Designing a Smart Walking Stick for Blind People Using Ultrasonic Sensor</h3>
            <p> 
                <ol>
                <li><b>Duration:</b> January 2022 - June 2022</li>
                <li><b>Technologies Used:</b> Arduino UNO, Ultrasonic Sensor, Proteus 8 Professional</li>
                <li><b>Team Members:</b> G Uday Kumar, H Jayashankar, J Pushpavathi, N Vani, and MA Afreed Ali</li>
                <li><b>Description:</b>
                    This project was part of our curriculum. We designed a smart walking stick for blind people using an ultrasonic sensor.<br/>
                    The team prepared a project report and presentation, and I assisted my team members in making the hardware connections.</p>
        </div>


        <div class="project">
            <h3>A simple Calculator</h3>
            <p> 
                <ol>
                <li><b>Duration:</b> January 2022 - June 2022</li>
                <li><b>Technologies Used:</b> HTML, CSS, Javascript</li>
                <li><b>Team Members:</b> G Uday Kumar, H Jayashankar, J Pushpavathi, N Vani, and MA Afreed Ali</li>
                <li><b>Description:</b>
                    This project was made from a <a href="https://www.youtube.com/watch?v=I5kj-YsmWjM">youtube video</a>.</li>
                <li><b>Link to the project: </b><a href="https://github.com/Sree2011/a-simple-calculator">Github</a></li>
                </ol>
                </p>
        </div>

        <div class="project">
            <h3>A static website for MPPS Kornamittapalli school</h3>
            <p> 
                <ol>
                <li><b>Duration:</b> September 2024 - November 2024</li>
                <li><b>Technologies Used:</b>Markdown, Github Pages for deployment</li>
                <li><b>Description:</b>
                    This project was made for a government school:<br/>
                    MPPS Kornamittapalli, Kalikiri mandal, Annamayya District, Andhra Pradesh, India.</li>
                <li><b>Link to the website: </b><a href="https://sree2011.github.io/mpps-kornamittapalli/">Github</a></li>
                </ol>
                </p>
        </div>
    </section>
{% include footer.html %}