---
layout: default
title: Skills
---

{% include header.html %}
  <section id="skills">
    <h2>Skills</h2>
    <div class="skill-category">
      <h3>Programming Languages</h3>
      <ul>
        <li>Java</li>
        <li>Python</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>MATLAB</li>
      </ul>
    </div>
    <div class="skill-category">
      <h3>Frameworks and Libraries</h3>
      <ul>
        <li>Spring Boot</li>
        <li>Arduino UNO</li>
      </ul>
    </div>
    <div class="skill-category">
      <h3>Certifications</h3>
      <ul>
        <li>AZ-900: Microsoft Azure Fundamentals</li>
        
      </ul>
    </div>
  </section>

{% include footer.html %}
