/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFF0;
  color: #1D1717;
  font-size: min(6vmin, calc(1rem + 0.23vmax));
  margin: 0;
  padding: 0;
}

header {
  background-color: #DC143C;
  color: #FFFFF0;
  padding: 20px;
  display: flex;
  font-size: min(6vmin, calc(1rem + 0.23vmax));
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-weight: bold;
  font-size: min(6vmin, calc(1rem + 0.23vmax));
}

nav a {
  margin: 0 15px;
  color: #FFFFF0;
  font-size: min(6vmin, calc(1rem + 0.23vmax));
  text-align: end;
  text-decoration: none;
}

nav a:hover {
  color: #FF6347;
}

main {
  padding: 15px;
}

h1 {
  color: #DC143C;
}

.skill-icons img {
  width:  50px;
  height: 50px;
  margin: 10px;
}

i {
  font-size: min(6vmin, calc(1rem + 0.23vmax));
  color: #FFFFF0;
  margin: 10px;
}

.project-list .project {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

.project-list .project h2 {
  color: #000080;
}

footer {
  background-color: #DC143C;
  color: #FFFFF0;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#home{
  font-size: larger;
  text-justify: auto;
  text-align: center;
  text-align: justify;
}