<!DOCTYPE html>
<html>
<footer>
        <div>
            <div>

                <div>
                    <h5>Quick Links</h5>
                        <a href="index.html">Home</a><br/>
                        <a href="skills.html">Skills</a><br/>
                        <a href="projects.html">Projects</a><br/>
                        <a href="contact.html">Contact</a><br/>
                </div>
                <div>
                    <h5>Contact</h5>

                        <b>Email:</b> <a href="mailto:sreesainandinigundraju@gmail.com">sreesainandinigundraju@gmail.com</a><br/>
                        <b>LinkedIn:</b> <a href="https://www.linkedin.com/in/g-sree-sai-nandini" target="_blank">g-sree-sai-nandini</a><br/>
                        <b>GitHub:</b> <a href="https://github.com/Sree2011" target="_blank">Sree2011</a><br/>
                </div>
            </div>
            <div class="social-links mt-3">
                <a href="https://github.com/Sree2011" target="_blank" aria-label="GitHub">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/g-sree-sai-nandini" target="_blank" aria-label="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
            <p>© 2024 Sree Sai Nandini Gundraju</p>
        </div>
    </footer>
</html>
